body{
    
        width: 90%;
        height: 100vh;
        background-image: url("/static/images/cover.jpg");
        background-position: center;
        background-size: cover;

}
* {
        margin: 0;
        padding: 0;
    }


	
	.homelink{
		width: 100%;
		margin: 20px;
		padding: 50px 0;
		font-size: 13px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.homelink ul li{
		list-style: none;
		display: inline-block;
		margin: 0 25px;
		position: relative;
	}

	.homelink ul li a{
		text-decoration: none;
		color: #cc0044;
		text-transform: uppercase;
	}
	.homelink ul li::after{
		content:'';
		height: 3px;
		width: 0;
		background: #b30047;
		position: absolute;
		left: 0;
		bottom: -5px;
		transition: 0.5s;
	}
	.homelink ul li:hover::after{
		width: 100%;
	}
	.homelogo{
		width: 150px;
		cursor: pointer;
		align-self: left;
	}
	.link3home{
		width: 100%;
		position:  absolute;
		top: 60%;
		transform: translateY(-50px);
		text-align: center;
		color: #ff4d94;
	}
	 
	.link3home h1{
	 	font-size: 30px;
	 	margin-top: 60px;
	 	color: #fe4164;
	}
	.link3home p{
	 	margin: 10px auto;
	 	font-weight: 100;
	 	line-height: 25px;
	 	color: #fe4164;
	 	text-align: center;
	}
	 

button{
	width: 200px;
	padding: 20px 0;
	text-align: center;
	margin: 20px 0px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #ff6699;
	background: transparent;
	color: #ffffff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

span{
	background: #ff6699;
	height: 100%;
	width: 0%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}

button:hover{
	border: none;

}

img{
	max-width: 100px;
	max-height: 50px;
}

#aboutshop 

.ASbgpic {
	width: 90%;
	height: 100vh;
	background-image: url(pictures/logo.png);
	background-position: center;
	background-size: cover;
}
.pictures {
		width: 130px;
		cursor: pointer;
		align-self: left;
	}
	
	.homelogo{
		width: 150px;
		cursor: pointer;
		align-self: left;
	}
	.AStext{
		width: 80%;
		position: absolute;
		top:  80%;
		transform: translateY(-50%);
		text-align: justify-all;
		color: #000000;
		font-family: arial;
	}
	
	.logo{
		width: 150px;
		cursor: pointer;
		align-self: left;
	}
	.AStext{
		width: 100%;
		position: absolute;
		top:  60%;
		transform: translateY(-50%);
		text-align: center;
		color: #ffe6f0;
		font-family: arial;
	}
	.AStext h1{
		width: 100%;
		position: absolute;
		top:  70%;
		transform: translateY(-50%);
		text-align: center;
		color: #ffe6f0;
		font-family: arial;
	}
	.titletext {
		width: 95%;
		position: absolute;
		top:  30%;
		transform: translateY(-50%);
		text-align: center;
		color: #ffe6f0;
		font-family: arial;
	}
	div.main{
	width: 500px;
	margin: 350px auto 0px auto;
}
	div.register{
	background-color: transparent;
	width: 100%;
	font-size: 15px;
	border-radius: 10px;
	border:1px solid rgba(255,255,255,0.3) ;
	box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
	color: #fff;
	text-align: center;
  	box-sizing: border-box;

}

#ordering

.links{
		width: 100%;
		margin: auto;
		padding: 40px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.links ul li{
		list-style: none;
		display: inline-block;
		margin: 0 25px;
		position: relative;
	}

	.links ul li a{
		text-decoration: none;
		color: #cc0044;
		text-transform: uppercase;
	}
	.links ul li::after{
		content:'';
		height: 3px;
		width: 0;
		background: #b30047;
		position: absolute;
		left: 0;
		bottom: -5px;
		transition: 0.5s;
	}
	.links ul li:hover::after{
		width: 100%;
	}
.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 50px;
  padding-right: 40px;
  margin: 0;
  grid: center;
}
.item {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  list-style-position: 20px;

  
}
.soapprod{
	color: #fff;
	font-size: 30px;
	letter-spacing: 4px;
	padding: 15px;
	background-color: #000;
	opacity: 40%;
}
	.soapprod{
	max-width: 1010px;
	text-align: center;
	display: center;
	margin: 15px 10px;

}
	.soapqty1{
	width: 38px;
	height: 38px;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	margin-bottom: 10px;

}
	.soaptype{
	font-size: 20px;
	background-color: #fff;
	margin-bottom: 10px;
	
}
	.soap1{
		font-size: 15px;
		text-align: left;
	}

	.buttoncancel{
	background-color: #ffe4d7;
      padding: 3px;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 60px;
}
	.total{
		text-align: right;
		display: right;
	}

	.next {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #d66175;
        border-radius: 6px;
        outline: none;
      }

#new_buyerinformation
	.BuyerInfo {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 15px;
  text-align: center;
  list-style-position: 20px;
  width: 50%;
  margin: auto;
  
}
.buyerinfo1{
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
    padding: 10px;
    background-color: #000;
    opacity: 40%;
    text-align: center;
}
.info1{
   
    width: 50%;
    font-size: 15px;
    border: 1px solid #aaaaaa;
    border-spacing: 10px;
    margin-bottom: 30px;
    margin: 10px 10px;
    text-align: left;
    display: inline-block;

  }


  .topay {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #d66175;
        border-radius: 6px;
        outline: none;
        align-items: center;
      }

  .buttoncancel{
  background-color: #ffe4d7;
      padding: 3px;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 60px;
}

	.buttonsubmit{
  background-color: #ffe4d7;
      padding: 3px;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 60px;
}

	.buttondelete{
  background-color: #ffe4d7;
      padding: 3px;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 60px;
}

	.buttonupdate{
  background-color: #ffe4d7;
      padding: 3px;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 60px;
}

.BuyerInfo {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 15px;
  text-align: center;
  list-style-position: 20px;
  width: 50%;
  margin: auto;
  
}
.buyerinfo1{
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
    padding: 10px;
    background-color: #000;
    opacity: 40%;
    text-align: center;
}
.info1{
   
    width: 50%;
    font-size: 15px;
    border: 1px solid #aaaaaa;
    border-spacing: 10px;
    margin-bottom: 30px;
    margin: 10px 10px;
    text-align: left;
    display: inline-block;

  }


  .topay {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #d66175;
        border-radius: 6px;
        outline: none;
        align-items: center;
      }

  .buttoncancel{
  background-color: #ffe4d7;
      padding: 3px;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 60px;
}


#feedback

	.container {
  display: grid;
  grid-template-columns: auto;
  margin-left: 20px;
  padding: 100px;

}
	.row {
  display: grid;
  grid-template-columns: auto;
  margin-left: 50px;
  align-items: center;
  padding: 50px;

}

	.btn btn-primary{
		color: #0000;
	}

