	body
		{
	 	width: 90%;
		height: 100vh;
		background-image: url("/static/images/cover.jpg");
		background-position: center;
		background-size: cover;
	}
	* {
		margin: 0;
		padding: 0;
	}
	
	{
		width: 100%;
		position: absolute;
		top:  50%;
		transform: translateY(-50%);
		text-align: center;
		color: #ffe6f0;
		font-family: arial;
	}

	.homelink{
		width: 100%;
		margin: 20px;
		padding: 50px 0;
		font-size: 13px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.homelink ul li{
		list-style: none;
		display: inline-block;
		margin: 0 25px;
		position: relative;
	}

	.homelink ul li a{
		text-decoration: none;
		color: #cc0044;
		text-transform: uppercase;
	}
	.homelink ul li::after{
		content:'';
		height: 3px;
		width: 0;
		background: #b30047;
		position: absolute;
		left: 0;
		bottom: -5px;
		transition: 0.5s;
	}
	.homelink ul li:hover::after{
		width: 100%;
	}
	.homelogo{
		width: 150px;
		cursor: pointer;
		align-self: left;
	}
	.link3home{
		width: 100%;
		position:  absolute;
		top: 60%;
		transform: translateY(-50px);
		text-align: center;
		color: #ff4d94;
	}
	 
	.link3home h1{
	 	font-size: 30px;
	 	margin-top: 60px;
	 	color: #fe4164;
	}
	.link3home p{
	 	margin: 10px auto;
	 	font-weight: 100;
	 	line-height: 25px;
	 	color: #fe4164;
	 	text-align: center;
	}
	 

button{
	width: 200px;
	padding: 20px 0;
	text-align: center;
	margin: 20px 0px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #ff6699;
	background: transparent;
	color: #fe4164;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

span{
	background: #ff6699;
	height: 100%;
	width: 0%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}

button:hover{
	border: none;

}
{
	font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;

}
img{
	max-width: 100px;
	max-height: 50px;
}
.item {
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 15px;
	text-align: center;
	list-style-position: 20px;

	
  }
  .soapprod{
	  color: #fff;
	  font-size: 30px;
	  letter-spacing: 4px;
	  padding: 15px;
	  background-color: #000;
	  opacity: 40%;
  }
  .soapprod{
  max-width: 1010px;
  text-align: center;
  display: center;
  margin: 15px 10px;

}
  .soapqty1{
  width: 38px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-bottom: 10px;

}
  .soaptype{
  font-size: 20px;
  background-color: #fff;
  margin-bottom: 10px;
  
}

  .buttoncancel{
  background-color: #ffe4d7;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 60px;
}
  .total{
	  text-align: right;
	  display: right;
  }

  .checkout {
	  display: inline-block;
	  padding: 10px 20px;
	  text-align: center;
	  text-decoration: none;
	  color: #ffffff;
	  background-color: #d66175;
	  border-radius: 6px;
	  outline: none;
	}
	h1 {
		text-align: center;
		}
	body {
  		background-color: #ffe6f2;

		}
	.side {
		text-align: center;
	}
	#customerReview {
	    margin-left: 30px;
    	    background: #FFFF; 
            color: #246E86; 
            border:inset;; 
            width: 35%; 
            font-size: 15px; 
            min-height: 250px; 
            max-height: 250px;
	}
	.buttonhome{
	background-color: #ffe4d7;
      padding: 3px;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 60px;
}