
{% load static %}
<!DOCTYPE html> 
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>
			About- Natural Skin
		</title> 
		<link rel="shortcut icon" type="image/png" href="pictures/logo.png">
		<link rel="stylesheet" href="{% static 'css/allstyle.css'%}">
		
	</head>

	<div class="homelink">
		<img src="{%static 'images/logo.png'%}" class="homelogo" >
		<ul>
				<li><a href="{% url 'Mainpage' %}">Home</a></li>
				<li><a href="{% url 'Aboutshop' %}">About Shop</a></li>
				<li><a href="{% url 'Soaps' %}">Beauty Soap</a></li>
				<li><a href="{% url 'SoapBuy' %}">Buy Soap</a></li>
				<li><a href="{% url 'contactform' %}">Contact</a></li>
				<li><a href="{% url 'feedback' %}">Feedback</a></li>
				<li><a href="{% url 'Records' %}">Records</a></li>	
				</a></li>
			</ul>
		</div>

<div class="AStext">

 <p> 
 	This shop is all about Beauty Soaps.Where you can find different types of soap that</p>
 <p>people can use without damaging their skin and make them satisfied with the skin they want.
 </p> 
 <p> 
 	There are many types of soap that cannot be used by anyone,especially people with sensitive skin.</p>
 <p></p>
 </p>
 	Here in this Soap shop you can find all the beauty soaps that will suit the skin of a woman or a man.</p>
 	<p> </p>
 	<p>No to make up, Just natural skin!</p>
 
 <br>
</div>
	<div class="main">
	
</h2>
</body>
</html>
