{% load static %}
<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>
		Beauty Soaps
	</title> 
	<link rel="shortcut icon" type="image/png" href="pictures/logo.png">
	<link rel="stylesheet" href="{%static 'css/soapstyle.css'%}">
</head>
<body>
<div class="side">
		<div class="menu">
			<h2 id="BeautySoaps">BeautySoaps</h2>
			<a href="{% url 'Soaps' %}">Back</a>
		</div>
		<div class="paragraph">
			<h1>Benefits of Oatmeal</h1>
			<p> Oatmeal soap is one of the safest exfoliation soaps or tools to use that is even safe for everyday use. It removes dead skin cells.</p>
		</div>
	</div>
</body>
</html>